
.contenedorCardCarrito{
    margin-top: 20px;
    border-bottom: 1px solid rgb(209, 209, 209);  
}

.contenedorImg{   

    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgCard {
    height: 100px;
    width: 100px;
    object-fit: contain;   
}

.contenedorBotonEliminar {
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.contenedorPrecio {
    margin-left: 0px;
    display: flex;
    justify-content: start;
    align-items: center;

}

